{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block header %}
    <h1>Dashboard</h1>
{% endblock %}

{% block content%}
    <h2>Token generation</h2>

    <form method="post">
        <label for="token">Token</label>
        <input name="token" id="token" required>
        <input type="submit" value="Generate">
    </form>

    <h2>Token overview</h2>

    <table class="center">
        <tr>
            <th>Token</th>
            <th>Created</th>
            <th>In progress</th>
            <th>Selected class</th>
            <th>Delete</th>
        </tr>
        {% for token in g.tokens %}
            <tr>
                <td>{{ token.token }}</td>
                <td>{{ token.created }}</td>
                <td>{{ token.inprogress }}</td>
                <td>{{ token.selected_class }}</td>
                <td>
                    <form action="{{ url_for('admin.delete', id=token['id']) }}" method="post">
                        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h2>Upload new images</h2>
    <form action="{{ url_for('admin.upload_images') }}" method=post enctype=multipart/form-data>
      <input type=file name=images id="images" multiple accept="image/*">
      <input type=submit value=Upload>
    </form>

{% endblock %}
