{% extends 'base.html' %}
{% block title %}Labeling{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <h2>Label all images that belong in class {{ session['selected_class'] }}:</h2>
  {% if session['random_testing'] and False %}
    <h2>TEST</h2>
  {% endif %}
  
  <form action="/worker/labeling_submit" method="post">
    <table class="labeling">
      <tr>
        <th>Image</th>
        <th>Image name</th>
        <th>Selected</th>
      </tr>
      {% for image in selected_images %}
      <tr>
        <td><img src="{{ url_for('images.img_data', filename=image['filename']) }}" alt="{{ image['filename'] }}"></td>
        <td>{{ image['filename'] }}</td>
        <td><input type="checkbox" name="{{ image['id'] }}"></td>
      </tr>
    {% endfor %}
    </table>
    <br>
    <input type="submit" class="btn btn-primary" value="Submit">
    
  </form>
{% endblock %}
