{% extends 'base.html' %}
{% block title %}Class selection{% endblock %}

{% block header %}
  <h1>Welcome, {{ g.user['username'] }}</h1>
{% endblock %}

{% block content %}
  <h2>Choose your class for classifying images</h2>


<label for="classificationselect">Choose class:</label>
<form method=post enctype=select>
<select name="choice" id="choice">
  {% for class in img_classes %}
    <option value="{{ class }}">{{ class }}</option>
  {% endfor %}
</select>
  <input type=submit value=Choose>
</form>

{% endblock %}
