{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block header %}
  <h1>Welcome, {{ g.user['token'] }}</h1>
{% endblock %}

{% block content %}
  <h2>Select all images in class {{ g.user['selected_class'] }}:</h2>
  
  <form action="/worker/submit_testing" method="post">
    <table>
    <tr>
      <th>Image</th>
      <th>Selected</th>
    </tr>
    {% for image in selected_images %}
    <tr>
      <td><img enctype="base64" src="data:image/png;base64, {{ image['base64_enc'] }}"
        alt="{{ image['id'] }}"></td>
      <td><input type="checkbox" name="{{ image['id'] }}"></td>
    </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Submit">
    
  </form>
{% endblock %}
