{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block header %}
    <h1><a href="{{ url_for('admin.dashboard') }}"><u>Token overview</u></a></h1>
    <h1><a href="{{ url_for('admin.image_explorer', classification='all', processing='all') }}">Image explorer</a></h1>
    <h1><a href="{{ url_for('admin.change_password') }}">Change password</a></h1>
{% endblock %}

{% block content%}
    <h2>Change password</h2>
    <form method="post">
        <label for="old_password">Old password</label>
        <input name="old_password" id="old_password" type="password" required>
        <label for="new_password">New password</label>
        <input name="new_password" id="new_password" type="password" required>
        <label for="confirm_password">Confirm password</label>
        <input name="confirm_password" id="confirm_password" type="password" required>
        <input type="submit" value="Change">
    </form>

{% endblock %}
