{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block header %}
    <h1><a href="{{ url_for('admin.dashboard') }}"><u>Token overview</u></a></h1>
    <h1><a href="{{ url_for('admin.image_explorer', classification='all', processing='all') }}">Image explorer</a></h1>
    <h1><a href="{{ url_for('admin.change_password') }}">Change password</a></h1>
{% endblock %}

{% block content%}
    <h2>Token generation</h2>

    <form method="post">
        <label for="token">Token</label>
        <input name="token" id="token" required>
        <input type="submit" value="Generate">
    </form>

    <h2>Token overview</h2>

    <table class="center">
        <tr>
            <th>Token</th>
            <th>Created</th>
            <th>In progress</th>
            <th>Selected class</th>
            <th>Delete</th>
        </tr>
        {% for token in g.tokens %}
            <tr>
                <td>{{ token.token }}</td>
                <td>{{ token.created }}</td>
                <td>{{ token.inprogress }}</td>
                <td>{{ token.selected_class }}</td>
                <td>
                    <form action="{{ url_for('admin.delete', id=token['id']) }}" method="post">
                        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
