{% extends 'admin/base.html' %}
{% block title %}Admin Dashboard{% endblock %}


{% block content%}
    <h2>Add new worker</h2>

    <form method="post">
        <label for="username">Name</label>
        <input class="form-control" name="username" id="username" required>
        <input type="submit" class="btn btn-primary" value="Add">
    </form>

    <h2>Worker overview</h2>

    <table class="center">
        <tr>
            <th>Username</th>
            <th>Token</th>
            <th>Created</th>
            <th></th>
        </tr>
        {% for worker in g.workers %}
            <tr>
                <td><a href="{{ url_for('admin.user_page', worker_name=worker.username) }}">{{ worker.username }}</a></td>
                <td>{{ worker.token }}</td>
                <td>{{ worker.created }}</td>
                <td><a href="{{ url_for('admin.user_page', worker_name=worker.username) }}" class="btn btn-outline-secondary">More details</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
