{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block header %}
    <h1><a href="{{ url_for('admin.dashboard') }}"><u>Token overview</u></a></h1>
    <h1><a href="{{ url_for('admin.image_explorer', classification='all', processing='all') }}">Image explorer</a></h1>
    <h1><a href="{{ url_for('admin.change_password') }}">Change password</a></h1>
    <h1><a href="{{ url_for('admin.download_data') }}">Change password</a></h1>
{% endblock %}

{% block content%}
<form method="post">
    <input type="submit" value="Download processed images">
</form>

{% endblock %}
