{% extends 'admin/base.html' %}
{% block title %}Admin Dashboard{% endblock %}


{% block content %}
<a href="{{ url_for('admin.image_explorer', processing=request.args.get('processing'), classification=request.args.get('classification'),
        page=request.args.get('page')) }}">
    <h2>&laquo; Back</h2>
</a>
<br>

<center><img src="{{ url_for('images.img_data', filename=image['filename']) }}" alt="{{ image['filename'] }}"></center>

<form method="post">
    <input type="text" name="filename" value="{{ image['filename'] }}">
    <select name="processing" id="processing">
        <option value="" disabled selected>Current state: {{ image["processing"] }}</option>
        {% for class in config["STATES"] %}
        <option value="{{ class }}">Change to: {{ class }}</option>
        {% endfor %}
    </select>
    <select name="classification" id="classification">
        <option value="" disabled selected>Current classification: {{ image["classification"]}}</option>
        <option value="non">Change to: non</option>
        {% for classification in g.user["img_classes"] %}
        <option value="{{ classification }}">Change to: {{ classification }}</option>
        {% endfor %}
    </select>
    
    <input type="submit" value="Submit">

</form>

{% endblock %}