{% extends 'admin/base.html' %}
{% block title %}Admin Dashboard{% endblock %}


{% block content%}
<h2>Upload new images</h2>
<form action="{{ url_for('admin.upload_images') }}" method=post enctype=multipart/form-data>
  <input type=file name=images id="images" multiple accept="image/*">
    <select name="classification" id="classification">
        {% for classification in g.classes %}
        <option value="{{ classification }}">{{ classification }}</option>
        {% endfor %}
    </select>
    <br>
  <input type=submit value=Upload>
</form>

<h2>Active classes</h2>

<table>
    <tr>
        <th>Class name</th>
        <th>Class count</th>
        <th>Delete class</th>
    </tr>
    {% for class in g.classes %}
        <tr>
            <td>{{ class }}</td>
            <td>{{ g.classes[class] }}</td>
            <td>
                <form action="{{ url_for('admin.delete_classification', classification=class) }}" method="post">
                    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

<h3>Add new class</h3>
<form method="post" action="{{ url_for('admin.add_class') }}">
    <input name="new_class" id="new_class" required>
    <input type="submit" value="Add">
</form>

<h2>Uploaded images</h2>
<label for="classificationselect">Choose class:</label>
<form method=post enctype=select>
    <select name="processing" id="processing">
        <option value="" disabled selected>Select processing type</option>
        <option value="all">all</option>
        {% for class in config["STATES"] %}
        <option value="{{ class }}">{{ class }}</option>
        {% endfor %}
    </select>
    <br>
    <select name="classification" id="classification">
        <option value="" disabled selected>Select class</option>
        <option value="all">all</option>
        {% for classification in g.user['img_classes'] %}
        <option value="{{ classification }}">{{ classification }}</option>
        {% endfor %}
    </select>
    <br>
    <input type=submit value="Refresh processed type">
</form>


<table class="center">
    <tr>
        <th>Filename</th>
        <th>Status</th>
        <th>Class</th>
    </tr>
    {% for image in g.images %}
        <tr>
            <!-- <td><a href="{{ url_for('admin.edit_image', id=image['id']) }}">
                <img enctype="base64" src="data:image/png;base64, {{ image['base64_enc'] }}"
                 alt="{{ image['id'] }}"></td>
              </a> -->
            <td>{{ image['filename'] }}</td>
            <td>{{ image['processing'] }}</td>
            <td>{{ image['classification'] }}</td>
        </tr>
    {% endfor %}
</table>
<center>
    <a href="{{ url_for('admin.image_explorer', processing=request.args.get('processing'), classification=request.args.get('classification'),
                page=curr_page - 1) }}" class="previous">&laquo; Previous</a>
    <a href="{{ url_for('admin.image_explorer', processing=request.args.get('processing'), classification=request.args.get('classification'),
                page=curr_page + 1) }}" class="next">Next &raquo;</a>

</center>
{% endblock %}
