{% extends 'admin/base.html' %}
{% block title %}Admin Dashboard{% endblock %}


{% block content%}
<h2>Upload new images</h2>
<form action="{{ url_for('admin.upload_images') }}" method=post enctype=multipart/form-data>
  <input type=file name=images id="images" multiple accept="image/*">
    <select name="classification" id="classification">
        <option value="unprocessed">unprocessed</option>
        {% for classification in g.classes %}
        <option value="{{ classification }}">{{ classification }}</option>
        {% endfor %}
    </select>
    <br>
  <input type=submit value="Upload as class">
</form>

<h2>Labeled images</h2>

<table>
    <tr>
        <th>Class name</th>
        <th>Count</th>
        <th>Delete class</th>
    </tr>
    {% for class in g.classes %}
        <tr>
            <td>{{ class }}</td>
            <td>{{ g.classes[class] }}</td>
            <td>
                <form action="{{ url_for('admin.delete_classification', classification=class) }}" method="post">
                    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% for class in g.unprocessed_classes %}
Number of images in <b>{{ class }}</b> folder is <b>{{ g.unprocessed_classes[class] }}</b>
<br>
{% endfor %}
</table>


<h3>Add new class</h3>
<form method="post" action="{{ url_for('admin.add_class') }}">
    <input name="new_class" id="new_class" required>
    <input type="submit" value="Add">
</form>

<h2>Uploaded images</h2>
<label for="classificationselect">Choose processing type:</label>
<form method=post enctype=select>
    <select name="processing" id="processing">
        <option value="{{ request.args.get('processing', 'all') }}" disabled selected>{{ request.args.get('processing', 'all') }}</option>
        <option value="all">all</option>
        {% for class in config["STATES"] %}
        <option value="{{ class }}">{{ class }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="classificationselect">Choose class:</label>
    <select name="classification" id="classification">
        <option value="{{ request.args.get('classification', 'all') }}" disabled selected>{{ request.args.get('classification', 'all') }}</option>
        <option value="all">all</option>
        {% for classification in g.user['img_classes'] %}
        <option value="{{ classification }}">{{ classification }}</option>
        {% endfor %}
    </select>
    <br>
    <input type=submit value="Refresh processed type">
</form>


<table class="center">
    <tr>
        <th>Image</th>
        <th></th>
        <th>Status</th>
        <th>Class</th>
    </tr>
    {% for image in g.images %}
        <tr>
            <td><a href="{{ url_for('admin.edit_image', id=image['id'], processing=request.args.get('processing'), classification=request.args.get('classification'),
                page=curr_page) }}">
                <img src="{{ url_for('images.img_data', filename=image['filename']) }}"
                 alt="{{ image['filename'] }}"></td>
              </a>
            <td><a href="{{ url_for('admin.edit_image', id=image['id'], processing=request.args.get('processing'), classification=request.args.get('classification'),
                page=curr_page) }}">More details</a></td>
            <td>{{ image['processing'] }}</td>
            <td>{{ image['classification'] }}</td>
        </tr>
    {% endfor %}
</table>
<center>
    <a href="{{ url_for('admin.image_explorer', processing=request.args.get('processing'), classification=request.args.get('classification'),
                page=curr_page - 1) }}" class="previous">&laquo; Previous</a>
    <label for="page_number">{{ curr_page }} / {{ g.pages }}</label>
    <a href="{{ url_for('admin.image_explorer', processing=request.args.get('processing'), classification=request.args.get('classification'),
                page=curr_page + 1) }}" class="next">Next &raquo;</a>

</center>
{% endblock %}
