{% extends 'base.html' %}

{% block header %}
{% endblock %}
<h1>{% block title %}Login{% endblock %}</h1>

{% block content %}
  <br>
  <h2>Worker login</h2>
  <form action="{{ url_for('auth.worker_login') }}" method="post">
    <label for="token">Access token</label>
    <input class="form-control" name="token" id="token" required>
    <input type="submit" class="btn btn-primary" value="Log in">
  </form>
  <br>
  <a class="btn btn-secondary" href="{{ url_for('auth.admin_login_page') }}">Go to Admin login page</a>
{% endblock %}